apiVersion: v1
kind: Pod
metadata:
  name: env-configMap
  labels:
    purpose: demo
    project: roboshop
spec:
  containers:
    - name: nginx
      image: nginx
      envFrom:
        - configMapRef:
            name: pod-config